@model Users
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal" id="editinfomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">EDIT Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                @using (Html.BeginForm("EditInfo", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Bio" class="control-label"></label>
                                    <input asp-for="Bio" class="form-control" />
                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Birthdate" class="control-label"></label>
                                    <input asp-for="Birthdate" class="form-control" />
                                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <input asp-for="Gender" class="form-control" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>



                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>

                            </form>
                        </div>
                    </div>
                }






            </div>

        </div>
    </div>
</div>

